@import "./angular-calendar-demo-sidenav.scss";
@import "./angular-calendar-demo-header.scss";

@mixin angular-material-calendar-demo($angular-material-calendar-demo) {
  @include calendar-demo-sidenav-theme($angular-material-calendar-demo);
  @include calendar-demo-header-theme($angular-material-calendar-demo);
}
