.calendar-demo-sidenav-container {
    height: 100%;
}

// .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }

.calendar-demo-sidenav-content {
    padding: 20px;
    width: 200px;
}
