@import '~@angular/material/theming';

@mixin calendar-month-view-grid-theme($theme) {
  
  $primary: map-get($theme, primary);
  
       .calendar-month-view-grid {
          background: #fff;
          color: mat-color($primary);
          border: 1px solid mat-color($primary, 100);
        }
}