@import '~@angular/material/theming';

@mixin calendar-day-view-header-theme($theme) {
  
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
       .calendar-day-view-header {
          background: mat-color($primary);
          color: #fff;
          border: 1px solid mat-color($primary, 100);
          position: absolute;
          left: 1em;
        }

        .calendar-day-view-header-today {
            color: mat-color($accent, 100);
        }

        .calendar-day-view-header-first {
            position: absolute;
            right: .5em;
        }
      
}