@import '~@angular/material/theming';

@mixin calendar-event-view-theme($theme) {
  
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
       .calendar-event-view {
          
           height: .5em;
        }

        .calendar-event-chip {
           background-color: mat-color($primary, 100) ;
           color: #fff;
           border-radius: 0px;
        }

        .calendar-event-view-content {
            border: 1px solid #fff;
            color: #00355e;
            display: flex;
            flex-flow: column;
            height: inherit;
            padding: 2px !important;
            overflow: hidden;
         }
}