@import '@angular/material/theming';

@mixin calendar-month-view-grid-header-theme($theme) {
  
  $primary: map-get($theme, primary);
  $font-family: mat-font-family(map-get($theme, typography));
  
       .calendar-month-view-grid-header {
          background: mat-color($primary);
          color: #fff;
          border: 1px solid mat-color($primary, 100);
          font-family: $font-family;
        }
      
}